<div class="card text-bg-light w-75">
  <div class="card-body">
    <h5 class="card-title">ALFREDO PINEDA: TUTORIAS</h5>
    <p class="card-text">Con el propósito de establecer un medio de comunicación efectivo con ustedes, que permita
      recabar sus inquietudes académicas durante este período de contingencia epidemiológica Les solicito atentamente
      llenen la información solicitada en el Formato Contingencia COVIT_19 de Excel que les envío en la plataforma con
      el nombre Formato de reporte de... Mostrar más</p>
  </div>
</div>
