<div class="container text-center pt-5 mt-5">
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <form>
        <p class="ion-text-left p-1"><a>Sign in to Schoology</a></p>
        <p class="ion-text-left p-1"><a>All fields are required</a></p>
        <!-- Email input -->
        <div class="form-outline   w-75 p-1">
          <input type="email" id="form2Example1" class="form-control" placeholder="Email or Username" />
        </div>
        <!-- Password input -->
        <div class="form-outline w-75 p-1">
          <input type="password" id="form2Example2" class="form-control" placeholder="Password" />
        </div>
        <!-- 2 column grid layout for inline styling -->
        <div class="row  w-75 ">
          <div class="col ">
          </div>
          <!-- Submit button -->
          <div class="row  p-1">
            <button class="btn btn-primary btn-lg p-0 " (click)="entrada()">Log in</button>
          </div>
          <div class="col  w-75 p-1">
            <!-- Simple link -->
            <p class="ion-text-right"> <a (click)="recupera()" class="text-primary">Forgot your password</a></p>
            <p class="ion-text-right"><a (click)="unico()" class="text-primary">SSO Login</a></p>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
    </div>
  </div>
</div>
