<app-cabecera></app-cabecera>
<ion-content>
  <div class="container text-center pt-3 mt-3">
    <div class="row">
      <div class="col">
        <p class="align-middle">Calificaciones/Asistencias</p>
      </div>
      <div class="col">
      </div>
      <div class="col">
      </div>
      <div class="col">
        <button type="button" class="btn btn-light">Descarga informe de estudiante</button>
      </div>
    </div>
  </div>
  <div class="container text-left pt-4 mt-4">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button"
          role="tab" aria-controls="nav-home" aria-selected="true">Calificaciones</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button"
          role="tab" aria-controls="nav-profile" aria-selected="false">Asistencias</button>
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="d-grid gap-2 d-md-block">
          <button type="button" class="btn btn-outline-secondary">Actuales</button>
          <button type="button" class="btn btn-outline-secondary">Anteriores</button>
        </div>
        <p></p>
        <p ><a class="text-primary">Base de datos para dispositivos móviles: 5801 22-2</a></p>
      </div>
      <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="d-grid gap-2 d-md-block">
          <button type="button" class="btn btn-outline-secondary">Actuales</button>
          <button type="button" class="btn btn-outline-secondary">Anteriores</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<app-pie></app-pie>
