<ion-header>
  <ion-toolbar>
    <nav class="navbar bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img slot="end"
            src="https://app.schoology.com/sites/all/themes/schoology_theme/images_front/header-logo-transparent.png"
            alt="Logo" width="175" height="31" class="d-inline-block align-text-top">
        </a>
      </div>
    </nav>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container text-center pt-5 mt-5">
    <app-recuperac></app-recuperac>
  </div>
</ion-content>
<app-pie></app-pie>
